<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="keyword_driven" parallel = "tests">
    <classes>
      <class name="keyword_driven_model.TestRunner"/>
    </classes>
  </test> <!-- keyword_driven -->
</suite> <!-- Suite -->
